<div class="all">
    <div class="navbar-left">
        <div class="navbar-logo">
            <h3 class="navbar-item">Codi</h3>  
            <nav class="navbar navbar-dark bg-dark">
                <app-side-nav-toggler></app-side-nav-toggler>
            </nav>
        </div>
        <div class="search-container">
            <i class="search-icon fa fa-search"></i>
            <input class="search-form" type="search" placeholder="Search">
        </div>
    </div>
    <div class="navbar-right">
        <div class="user-container">
            <i class="user-icon fa fa-user"></i>
            <div class="username">
                <span>Username</span>
            </div>
        </div>
        <div class="button-container">
            <app-create-button></app-create-button>
        </div>
    </div>
</div>