<div class="repl-close">
    <button class="btn btn-outline-primary btn-sm" (click)="activeModal.close()">
        <img src="assets/images/close-button.svg" alt="close">
    </button>
</div>
<div class="all-repl-content">
    <div class="repl-content">
        <div class="title-repl">
            <span class="title-repl-text">Import from GitHub</span>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openProjectFromTemplate()">
                <span class="repl-form-span">Create from template</span>
            </button>
        </div>
        <form [formGroup]="form">
            <div class="repl-create-form">
                <div class="repl-form-template">
                    <div class="repl-form-box">
                        <div class="subheader">Paste or select a GitHub repository to import</div>
                        <label class="repl-form-label">
                            <span class="repl-form-span">Github URL</span>
                        </label>
                        <ng-template #rt let-r="result" let-t="term">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </ng-template>
                        <div class="repl-form-input-box">
                            <input
                                id="typeahead-focus"
                                type="text"
                                class="form-control"
                                placeholder="github.com/user/repo"
                                [inputFormatter]="formatter"
                                [resultTemplate]="rt"
                                formControlName="template"
                                [ngbTypeahead]="search"
                                (focus)="focus$.next($any($event).target.value)"
                                (click)="click$.next($any($event).target.value)"
                                [editable]='false'
                                #instance="ngbTypeahead"
                            />
                        </div>
                        <div *ngIf="!isGithubTokenExists()">
                            <button class="btn btn-outline-primary btn-sm">Connect GitHub</button>
                            <div class="remark">*Connect GitHub to import your repos</div>
                        </div>
                    </div>
                </div>
                <div class="repl-form-title">
                    <div class="repl-form-title-box">
                        <label class="repl-form-label">
                            <span class="repl-form-span">Privacy</span>
                        </label>
                        <div class="repl-privacy-box">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="privacy">
                                <label class="custom-control-label" for="customSwitch1"></label>
                            </div>
                            <span class="repl-form-span">Repl is public</span>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" [disabled]="!form.valid" type="submit">
                        Import from GitHub
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
