@import 'src/styles/global.sass'
.all
    background: $base-background-color
.navbar-item
    display: flex
    color: white
    justify-content: flex-start
    
.wrapper
    display: flex
.main-content-wrp
    padding: 20px 10px 30px
    width: 100%