.all
    background: #131416
.navbar-item
    display: flex
    color: white
    background-color: red
    justify-content: flex-start
    
.wrapper
    display: flex
.main-content-wrp
    padding: 20px 10px 30px
    width: 100%