<app-header>
  <div class="content">
      <div class="container">
        <div class="user-profile-header">
          <div class="user-info">
            <img *ngIf="user?.avatar; else generic" class="avatar" src="{{user.avatar}}" alt="User avatar">
            <ng-template #generic>
              <div class="avatar generic-avatar">
                {{user.userName?.substring(0,1)?.toUpperCase()}}
              </div>
            </ng-template>
              <div class="info">
                <div class="d-flex">
                  <div class="name">
                    {{user?.firstName || user?.lastName ?
                    (user?.firstName ?? "") + " " + (user?.lastName ?? "") : user.userName}}
                  </div>
                </div>
                <div class="username">
                  @{{user.userName}}
                </div>
                <p class="bio">
                  {{user.bio}}
                </p>
              </div>
          </div>
          <button class="btn btn-primary" [routerLink]="['/account']" *ngIf="currentUser.id === user.id">Edit</button>
        </div>
        <div *ngIf="loading" class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!loading" class="action-info">
          <div class="repls">
            <div class="searching-panel">
              <div class="repls-title">Recent projects</div>
            </div>

            <div class="mt-4">
              <table class="table table-borderless table-dark table-hover">
                  <tbody>
                  <tr *ngFor="let project of projects">
                      <td class="min-width">
                          <i class="mx-3 fa {{project.isPublic ? 'fa-unlock text-success' : 'fa-lock text-danger'}}"></i>
                      </td>
                      <td><a class="text" [routerLink]="['/workspace', project.id]">{{project.title}}</a></td>
                      <td>
                          <img class="language-icon" [src]="iconForLanguage(project.language)" alt="lang">
                          {{forEnum(project.language)}}
                      </td>
                      <td class="min-width">
                          {{project.createdAt | dateAgo}}
                      </td>
                  </tr>
                  </tbody>
              </table>
                <div *ngIf="!loading && !projects.length" class="d-flex justify-content-center">
                    <h4 class="text-secondary" *ngIf="currentUser.id === user.id; else forAnotherUser">
                        You don't have any projects. Please create a new one.
                    </h4>
                    <ng-template #forAnotherUser>
                        <h4 class="text-secondary">
                            {{user.userName}} don't have any public projects.
                        </h4>
                    </ng-template>
                </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</app-header>
