<div class="modal-header d-flex justify-content-between align-items-center">
    <h3>Create project</h3>
    <div class="close">
        <button class="btn btn-outline-primary btn-sm" (click)="activeModal.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div ngbDropdown placement="bottom-right">
        <button class="btn btn-sm btn-outline-primary" id="importDropdown" ngbDropdownToggle>Import project</button>
        <div ngbDropdownMenu aria-labelledby="importDropdown">
          <button ngbDropdownItem (click)="openGithubImport()" class="dropdown-item">Import from GitHub</button>
          <button ngbDropdownItem class="dropdown-item">Import from PC</button>
        </div>
      </div>
</div>

<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-group w100-dropdown-container">
            <label for="template">Template</label>

            <input id="template" type="text" class="form-control" placeholder="Search templates"
                [resultFormatter]="resultFormatter"
                [inputFormatter]="inputFormatter"
                formControlName="template" [ngbTypeahead]="search"
                (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                [editable]='false' #instance="ngbTypeahead"
                [class.is-invalid]="form.controls['template'].touched && form.controls['template'].invalid" />
            <div class="invalid-feedback">
                <ul>
                    <li *ngIf="form.controls['template'].hasError('required')">
                        Template is required
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" formControlName="title"
                [class.is-invalid]="(form.controls['title'].dirty || form.controls['title'].touched) && form.controls['title'].invalid"
                placeholder="Name your project" class="form-control">
            <div class="invalid-feedback">
                <ul>
                    <li *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">
                        Title is required
                    </li>
                    <li
                        *ngIf="form.controls['title'].hasError('minlength') || form.controls['title'].hasError('maxlength')">
                        Your project name must be between 2 and 50 characters
                    </li>
                    <li *ngIf="form.controls['title'].hasError('pattern')">
                        Your project title can only contain latin letters, digits, printable characters
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label>Privacy</label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="isPublic" formControlName="isPublic">
                <label class="custom-control-label" for="isPublic" *ngIf="!form.controls['isPublic'].value; else isPrivate">Project is public</label>
                <ng-template #isPrivate>
                    <label class="custom-control-label" for="isPublic">Project is private</label>
                </ng-template>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="submit" [disabled]="!form.valid" (click)="submit()" class="btn btn-primary w-100">Create
        project</button>
</div>
