@import 'src/styles/variables'

.content
    min-height: calc( 100vh - 110px )
    height: auto
    display: flex
    .explorer
        max-width: 300px
        width: 300px
        min-height: calc( 100vh - 150px )
        position: sticky
        background-color: $background-panel-color-light
        border-radius: $border-radius
        .explorer-header
            padding: 10px
            cursor: default
            display: flex
            justify-content: space-between
            font-family: $font-family-base
            font-weight: bold
            color: $base-text-color
            font-size: $font-size-lg
            align-items: center
            .explorer-buttons
                cursor: pointer
                .explorer-buttons-icons
                    width: 25px
                    height: 25px
                    filter: $icon-filter-grey

        .explorer-files
            max-height: calc(100vh - 205px)
            overflow-y: auto
            display: flex
            flex-direction: column
            padding: 0 10px

    .editor
        width: 50%
        margin: 0px 10px 0px 10px
        background-color: #1e1e1e
        border-radius: $border-radius
        .editor-tabs
            display: flex
            background-color: $background-tabs-panel-color
            margin-bottom: 5px
            overflow: auto
            .tab-item
                display: flex
                align-items: center
                padding: 5px 10px
                background-color: $background-tab-color
                margin-right: 1px
                cursor: pointer
                white-space: nowrap
                &.tab-item-selected
                    background-color: $background-selected-tab-color
                .tab-name
                    margin-right: 5px
                    color: $muted-text-color
                .close-tab
                    color: $muted-text-color
                    &:hover
                        opacity: 75%
        .code-editor
            width: 100%
            border-radius: $border-radius
            height: calc(100% - 45px)
            background-color: #1e1e1e
    .output
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 50%
        min-height: calc( 100vh - 150px )
        .output-form
            width: 100%
            margin-bottom: 5px
            background-color: $background-panel-color-light
            border-radius: $border-radius
            height: calc(60% - 5px)
            .output-form-header
                width: 100%
                background-color: $background-panel-color
                padding: 10px
                display: flex
                border-top-left-radius: 10px
                border-top-right-radius: 10px
                justify-content: space-between
                align-items: center
                .output-url
                    min-width: calc(100% - 70px)
                    display: flex
                    align-items: center
                    .output-url-text
                        min-width: calc(100% - 40px)
                        font-family: $font-family-base
                        font-weight: bold
                        border: 3px solid $base-text-color
                        border-radius: 8px
                        padding-left: 10px
                .output-icon
                    margin: 0px 5px 0px 5px
                    width: 25px
                    height: 25px
                    filter: $icon-filter-grey
                    cursor: pointer


        .console
            margin-top: 5px
            height: calc(40% - 5px)
            border-radius: $border-radius
            background-color: $background-panel-color-light
            .console-title
                background-color: $background-panel-color
                padding: 10px
                border-top-left-radius: 10px
                border-top-right-radius: 10px
                font-family: $font-family-base
                font-weight: bold
                color: $primary
                font-size: $font-size-lg
                text-decoration: underline
                text-decoration-thickness: 3px
                cursor: pointer
            .example-text
                padding: 10px
                font-family: $font-family-base
                font-weight: bold
                color: $base-text-color
                font-size: $font-size-base
                cursor: default

.selected-node
    background-color: $background-selected-tab-color
