<app-header>
    <div class="content">
        <div class="explorer">
            <div class="explorer-header">
                <div>Files</div>
                <div class="explorer-buttons">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/addfile.svg">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/addfolder.svg">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/3bddmenu.svg">
                </div>
            </div>
            <div class="explorer-files">
                <div class="example-file">
                    HelloWorld.js
                </div>
            </div>
        </div>
        <div class="sizer"></div>
        <div class="editor">
            <ngx-monaco-editor class="code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
        </div>
        <div class="sizer"></div>
        <div class="output">
            <div class="output-form">
                <div class="output-form-header">
                    <div class="output-url">
                        <img class="output-icon" src="assets/images/workspace/reload.svg">
                        <div class="output-url-text" contenteditable="true">
                            http://ProjectName
                        </div>
                    </div>
                    <div>
                        <img class="output-icon" src="assets/images/workspace/edit.svg">
                        <img class="output-icon" src="assets/images/workspace/fullscreen.svg">
                    </div>    
                </div>
            </div>
            <div class="sizer"></div>
            <div class="console">
                <div class="console-title">
                    Console
                </div>
                <div class="expample-text" contenteditable="true">
                    Code 200: OK
                </div>
            </div>
        </div>
    </div>
</app-header>
