<app-header>
    <div class="content">
        <div class="explorer">
            <div class="explorer-header">
                <div>Files</div>
                <div class="explorer-buttons">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/addfile.svg">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/addfolder.svg">
                    <img class="explorer-buttons-icons" src="assets/images/workspace/3bddmenu.svg">
                </div>
            </div>
            <div class="explorer-files">
                <tree-root #tree [nodes]="projectStructure?.children!" (activate)="onSelectedNode($event)">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <div class="tree-node-content"
                             [class.selected-node] = "!selectedFile ? false : node.data?.fileId === selectedFile?.id"
                             (click)="openRequestedFile(node.data)">
                            <i class="fa fa-folder mr-2" *ngIf="node.data.type === fsNodeType.folder"></i>
                            <i class="fa fa-file mr-2" *ngIf="node.data.type === fsNodeType.file"></i>
                            <span>{{node.data.name}}</span>
                        </div>
                    </ng-template>
                </tree-root>
            </div>
        </div>
        <div class="editor">
            <div class="editor-tabs">
                <div class="tab-item"  tabindex="0"
                     *ngFor="let file of openedFiles"
                     [class.tab-item-selected]="file.id === selectedFile?.id"
                     (click)="openFileFromTab(file)">
                    <div class="tab-name">{{file.name}}</div>
                    <div class="close-tab" (click)="closeFile(file)">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
            <ngx-monaco-editor class="code-editor" [options]="editorOptions" [(ngModel)]="currentCode" (ngModelChange)="onCodeChange($event)">
            </ngx-monaco-editor>
        </div>
        <div class="output">
            <ng-terminal #term></ng-terminal>
        </div>
    </div>
</app-header>
