<div class="content">
    <div class="organizations-header">
        <h1>Your Organizations</h1>
    </div>
    <div class="organization-type">
        <div class="organization-type-header">
            <i class="fa fa-book fa-lg mr-2"></i>
            <h2 class="mr-2">Education</h2>
            <span class="line"></span>
        </div>
        <button class="btn btn-primary" (click)="createOrganization()">New Education Organization</button>
        <div class="organizations-collection" *ngFor="let org of organizations">
            <div class="organization">
                <div class="organization-header">
                    <h3>{{org.name}}</h3>
                    <div class="btn-group" ngbDropdown role="group" *ngIf="org.ownerId == user.id">
                        <i class="fa fa-ellipsis-v fa-lg toggle" ngbDropdownToggle></i>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="btn mb-0">Org settings</button>
                            <button class="btn mb-0" (click)="deleteOrganization(org.id)">Delete org</button>
                        </div>
                    </div>
                </div>
                <div class="organization-subheader">
                    <div class="org-info">
                        <div class="org-info-item" *ngIf="org.ownerId === user.id">You are an org owner</div>
                    </div>
                    <div class="courses-info">
                        <span class="line"></span>
                        <div>You are a member of {{org.courses.length}} courses on the {{org.name}} organization</div>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="courses-collection" *ngFor="let course of org.courses">
                    <div class="course">
                        <div class="course-container">
                            <div class="course-info">
                                <img class="avatar-sm" src="/assets/images/robot.png" alt="course avatar">
                                <div>{{course.displayName}}</div>
                            </div>
                            <div class="user-settings">
                                <img *ngIf="course.owner?.avatar; else generic" class="avatar-sm" src="{{course.owner?.avatar}}" alt="User avatar" [routerLink]="['/main/user',course.owner.id]">
                                <ng-template #generic>
                                    <div class="avatar-sm generic-avatar" [routerLink]="['/main/user',course.owner.id]">
                                        {{course.owner?.userName?.substring(0,1)?.toUpperCase()}}
                                    </div>
                                </ng-template>
                                <div class="btn-group" ngbDropdown role="group">
                                    <i class="fa fa-ellipsis-v fa-lg toggle" ngbDropdownToggle></i>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button class="btn mb-0" (click)="deleteCourse(course.id, org.id)" *ngIf="course.owner.id == user.id; else leave">
                                            Delete
                                        </button>
                                        <ng-template #leave>
                                            <button class="btn mb-0" (click)="leaveCourse(course.id, org.id)">
                                                Leave
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="btn btn-primary mb-0" *ngIf="org.ownerId === user.id" (click)="createCourse(org)">New course in {{org.name}}</div>
            </div>
        </div>
    </div>
</div>
