@import 'variables'

body
    margin: 0px
.text
    color: #c6c8c9
    font-weight: bold


.modal-dialog .modal-content
    background-color: $background-panel-color
    color: $base-text-color

    & .modal-header .close
        color: $base-text-color

    & .modal-header
        border: 0
        padding-bottom: 0

    & .modal-body
        white-space: pre-line

    & .modal-footer
        border: 0
        padding-top: 0

    & .close
        padding: 0
        margin: 0
        user-select: none

    & .close:not(:disabled):not(:hover):not(.disabled):focus
        opacity: 0.5

.dialog-container
    padding: 20px

    .dialog-header
        display: flex
        justify-content: space-between
        align-items: flex-start

        .close
            color: $base-text-color
            outline: none

input.form-control
    border-color: $input-outline
    color: $input-text-color
    background: $background-panel-color

    &:hover
        border-color: $input-hover-outline

    &:focus
        border-color: $input-focus-outline
        background: $background-panel-color
        color: $input-text-color

a
  text-decoration: none
  color: $accent-text-color
  &:hover
    text-decoration: none
    color: $primary

.avatar
  min-width: 118px
  max-width: 118px
  height: 118px
  border-radius: 100%
  &.generic-avatar
    background-color: $primary
    color: $base-text-color
    font-size: $h2-font-size
    text-align: center
    line-height: 118px

.avatar-sm
    max-width: 32px
    max-height: 32px
    margin-right: 5px
    &.generic-avatar
        background-color: $primary
        color: $base-text-color
        font-size: $h5-font-size
        text-align: center
        line-height: 32px
