@import "variables"

.modal-dialog .modal-content
    background-color: $background-default
    color: $foreground-default

    & .modal-header .close
        color: $foreground-default

    & .modal-header
        border: 0
        padding-bottom: 0 

    & .modal-footer
        border: 0
        padding-top: 0 
