$background-root: #0E1525
$background-default: #1C2333
$background-higher: #2B3245
$accent-primary-default: #0053A6
$accent-primary-stronger: #57ABFF
$accent-purple-default: #A64DFF
$foreground-default: #F5F9FC
$foreground-dimmer: #C2C8CC
$outline-dimmest: #4E5569
$error-message-default: #ff0d00

$font-size-header-big: 32px
$font-size-header-default: 24px
$font-size-subhead-big: 20px
$font-size-subhead-default: 16px
$font-size-default: 14px
$font-size-small: 12px
