// Override bootstrap variables
$primary:                  #8834ee
$secondary:                #6c757d
$danger:                   #dc3545

$font-family-base:          'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
$border-radius:             0.5rem

$font-size-base:            1rem
$font-size-lg:              $font-size-base * 1.25
$font-size-sm:              $font-size-base * .8

$h1-font-size:              $font-size-base * 2.5
$h2-font-size:              $font-size-base * 2
$h3-font-size:              $font-size-base * 1.75
$h4-font-size:              $font-size-base * 1.5
$h5-font-size:              $font-size-base * 1.25
$h6-font-size:              $font-size-base

$modal-inner-padding: 1.75rem
$modal-dialog-margin-y-sm-up: 2.75rem

$input-bg: #1d1e22
$input-disabled-bg: #1d1e22
$input-border-color: $secondary
$input-focus-border-color: $primary
$input-color: #c2c4c6

// Custom variables
$background-color:          #131416
$background-panel-color:    #1d1e22
$background-panel-color-light:   #25262b
$background-tabs-panel-color: #252525
$background-tab-color: #2D2D2D
$background-selected-tab-color: #1e1e1e
$background-primary-dropdown: #7a1cec

$secondary-hover: #2d2e33

$base-text-color:           #c2c4c6
$muted-text-color:          #6c757d
$accent-text-color:         #57ABFF

$rating-color:              #df7e27

$custom-select-color: $base-text-color
$custom-select-bg: $background-panel-color

$custom-file-color: $base-text-color
$custom-file-bg: $background-panel-color
$custom-file-button-bg: $background-panel-color

$custom-run-button-color: darken($primary, 15%)
$custom-build-button-color: darken($accent-text-color, 15%)
$custom-save-button-color: #003636

$icon-filter-grey: invert(88%) sepia(6%) saturate(80%) hue-rotate(169deg) brightness(89%) contrast(91%)
$icon-filter-purple: invert(26%) sepia(62%) saturate(2905%) hue-rotate(255deg) brightness(100%) contrast(160%)
$icon-filter-cyan: invert(53%) sepia(100%) saturate(777%) hue-rotate(186deg) brightness(100%) contrast(160%)
