<div class="summary">

    <div>
        <div class="privacy-header"><h6>Privacy</h6></div>
        <div class="privacy">
            <ul><a href="/privacy/termsofcondition">terms of condition</a></ul>
            <ul><a href="/privacy/privacy">privacy</a></ul>
            <ul><a href="/privacy/studentprivacy">student privacy</a></ul>
        </div>
    </div>
    <div>
        <div class="language-header"><h6>Languages</h6></div>
        <div class="languages-list">
            <ul>
                <ul><a href="/languages/clojure">Clojure</a></ul>
                <ul><a href="/languages/haskell">Haskell</a></ul>
                <ul><a href="/languages/kotlin">Kotlin</a></ul>
                <ul><a href="/languages/qbasic">QBasic</a></ul>
                <ul><a href="/languages/forth">Forth</a></ul>
                <ul><a href="/languages/lolcode">LOLCODE</a></ul>
                <ul><a href="/languages/brainfuck">BrainF</a></ul>
                <ul><a href="/languages/emoticon">Emoticon</a></ul>
                <ul><a href="/languages/bloop">Bloop</a></ul>
            </ul>
            <ul>
                <ul><a href="/languages/unlambda">Unlambda</a></ul>
                <ul><a href="/languages/coffeescript">CoffeeScript</a></ul>
                <ul><a href="/languages/scheme">Scheme</a></ul>
                <ul><a href="/languages/apl">APL</a></ul>
                <ul><a href="/languages/lua">Lua</a></ul>
                <ul><a href="/languages/ruby">Ruby</a></ul>
                <ul><a href="/languages/roy">Roy</a></ul>
                <ul><a href="/languages/python3">Python</a></ul>
                <ul><a href="/languages/nodejs">Node.js</a></ul>
            </ul>
            <ul>
                <ul><a href="/languages/deno">Deno (beta)</a></ul>
                <ul><a href="/languages/go">Golang</a></ul>
                <ul><a href="/languages/cpp">C++</a></ul>
                <ul><a href="/languages/c">C</a></ul>
                <ul><a href="/languages/csharp">C#</a></ul>
                <ul><a href="/languages/fsharp">F#</a></ul>
                <ul><a href="/languages/html">HTML, CSS, JS</a></ul>
                <ul><a href="/languages/rust">Rust</a></ul>
                <ul><a href="/languages/swift">Swift</a></ul>
            </ul>
            <ul>
                <ul><a href="/languages/python_turtle">Python (with Turtle)</a></ul>
                <ul><a href="/languages/basic">Basic (beta)</a></ul>
                <ul><a href="/languages/rlang">R</a></ul>
                <ul><a href="/languages/bash">Bash</a></ul>
                <ul><a href="/languages/crystal">Crystal</a></ul>
                <ul><a href="/languages/julia">Julia</a></ul>
                <ul><a href="/languages/elixir">Elixir</a></ul>
                <ul><a href="/languages/nim">Nim</a></ul>
                <ul><a href="/languages/dart">Dart</a></ul>
            </ul>
            <ul>
                <ul><a href="/languages/reason_nodejs">Reason Node.js</a></ul>
                <ul><a href="/languages/tcl">Tcl</a></ul>
                <ul><a href="/languages/erlang">Erlang</a></ul>
                <ul><a href="/languages/typescript">TypeScript</a></ul>
                <ul><a href="/languages/pygame">Pygame</a></ul>
                <ul><a href="/languages/love2d">Love2D</a></ul>
                <ul><a href="/languages/elisp">Emacs Lisp (Elisp)</a></ul>
                <ul><a href="/languages/php7">PHP Web Server</a></ul>
                <ul><a href="/languages/sqlite">SQLite</a></ul>
            </ul>
            <ul>
                <ul><a href="/languages/java10">Java</a></ul>
                <ul><a href="/languages/php_cli">PHP CLI</a></ul>
                <ul><a href="/languages/pyxel">Pyxel</a></ul>
                <ul><a href="/languages/raku">Raku</a></ul>
                <ul><a href="/languages/scala">Scala (beta)</a></ul>
                <ul><a href="/languages/nix">Nix (beta)</a></ul>
                <ul><a href="/languages/nodejs">JavaScript</a></ul>
            </ul>
        </div>
    </div>
</div>

<div class="summary">
    <div class="copy-right">
        Copyright © 2022 Replit, Inc. All right reserved.
    </div>
</div>