@import 'src/styles/variables.sass'
.summary
    font-size: $font-size-small
    color: $foreground-dimmer
    display: flex
    flex-direction: row
    justify-content: center

a
    margin-bottom: 5px
    color: $foreground-dimmer
    
a:hover
    color: $accent-primary-default

.privacy
    margin: 10px

.languages-list
    margin: 5px
    display: flex
    flex-direction: row

.copy-right
    margin-top: 10px
    margin-bottom: 10px
    color: $outline-dimmest
    
.language-header
    text-align: center

.privacy-header
    padding-left: 50px

    