@import 'src/styles/variables.sass'
.summary
    font-size: $font-size-sm
    color: $base-text-color
    display: flex
    flex-direction: row
    justify-content: center

a
    margin-bottom: 5px
    color: $base-text-color
    

.privacy
    margin: 10px

.languages-list
    margin: 5px
    margin-top: 20px
    display: flex
    flex-direction: row
    flex-wrap: wrap

.copy-right
    margin-top: 10px
    margin-bottom: 10px
    
.language-header
    text-align: center

.privacy-header
    padding-left: 50px

    