<div class="dialog-container">
    <div class="dialog-header">
        <h3>Edit organization</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="organization">Organization name</label>
            <input type="text" class="form-control" id="organization" placeholder="What should the Organization be called?" formControlName="name">
            <ul>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('minlength') || form.controls['name'].hasError('maxlength')">
                    Your organization name must be between 5 and 100 characters
                </li>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('pattern')">
                    Your organization name can only contain latin letters, digits, printable characters
                </li>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('noWhiteSpace')">
                    Your organization name can't contain space at the beginning or at the end
                </li>
            </ul>
        </div>
        <button type="submit" (click)="updateOrganization()" class="btn btn-primary w-100 mt-3" [disabled]="!form.valid">Update organization</button>
    </form>
</div>
