header
    background-color: rgb(14, 21, 37)
    position: sticky
    color: grey
    border-bottom: 2px solid #73AD21
    border-color: rgb(28, 35, 51)
main
    background-color: rgb(14, 21, 37)
    color: white
    padding-bottom: 1px
    display: flex
    justify-content: center
    padding: 20px


footer
    color: white
    position: absolute
    width: 100%
    background-color: rgb(28,35,51)
    padding: 20px
   