@import 'src/styles/variables.sass'

header
    background-color: $background-color
    position: sticky
    top: 0 
    border-bottom: 2px solid
    border-color: $background-panel-color
main
    background-color: $background-color
    color: $base-text-color
    padding-bottom: 1px
    display: flex
    justify-content: center
    padding: 20px
footer
    color: $base-text-color
    ackground-color: $background-panel-color
    padding: 20px
.all
    min-width: 600px
    min-height: 600px
