<div class="wrapper">
  <header class="header">
    <div class="logo">Codi</div>
  </header>
  <div class="center">
    <div class="auth-wrapper">
      <h4 class="auth-title">Create a Codi account</h4>
      <a href="" class="teacher-transition">Teacher?Sign up for our education product.</a>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" aria-describedby="usernameError" formControlName="username"/>
          <ul>
            <li class="error" *ngIf="form.controls['username'].hasError('minlength')">Must be at least 2 characters</li>
            <li class="error" *ngIf="form.controls['username'].hasError('maxlength')">Must be less, than 15 characters</li>
            <li class="error" *ngIf="form.controls['username'].hasError('hasNumber')">Must contain at least 1 number</li>
            <li class="error" *ngIf="form.controls['username'].hasError('hasCapitalCase')">  Must contain at least 1 Letter</li>
          </ul>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" formControlName="email"/>
          <ul>
            <li class="error" *ngIf="form.controls['email'].hasError('pattern') || form.controls['email'].hasError('maxlength')">
              Invalid email address
            </li>
          </ul>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password"/>
          <ul>
            <li class="error" *ngIf="form.controls['password'].hasError('minlength')">Must be at least 8 characters</li>
            <li class="error" *ngIf="form.controls['password'].hasError('maxlength')">Must be less, than 35 characters</li>
            <li class="error" *ngIf="form.controls['password'].hasError('hasCapitalCase')">  Must contain at least 1 in Capital Case</li>
            <li class="error" *ngIf="form.controls['password'].hasError('hasSmallCase')"> Must contain at least 1 Letter in Small Case</li>
            <li class="error" *ngIf="form.controls['password'].hasError('hasNumber')">Must contain at least 1 number</li>
            <li class="error" *ngIf="form.controls['password'].hasError('hasSpecialCharacters')">Must contain at least 1 Special Character(-, _, !, @, #, $, %, ^, &, *, .)</li>
          </ul>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!form.valid" type="submit">
            Create account
          </button>
        </div>
      </form>
      <div class="switch-auth">
        Have an account?
        <a [routerLink]="['/login']">Log in</a>
      </div>
      <div class="continue-with">
        <button type="button" class="btn btn-secondary ctn" (click)="withGoogle()">
          <img src="assets/images/google.png" alt="google" class="btn-logo">
          <div class="btn-text">Continue with Google</div>
        </button>
        <button type="button" class="btn btn-secondary ctn" (click)="withGit()">
          <img src="assets/images/github.png" alt="github" class="btn-logo">
          <div class="btn-text">Continue with Github</div>
        </button>
      </div>
      <p class="agreement">
        By continuing, you agree to Codi's
        <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>, and to receiving emails with updates.
      </p>
    </div>
  </div>
</div>

