<div class="wrapper">
  <header class="header">
    <div class="logo">Codi</div>
  </header>
  <div class="center">
    <div class="auth-wrapper">
      <h4 class="auth-title">Create a Codi account</h4>
      <form [formGroup]="form" (click)="submit()">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" aria-describedby="usernameError" formControlName="username"/>
          <ul>
            <li class="error" *ngIf="form.controls['username'].hasError('minlength') || form.controls['username'].hasError('maxlength')">
              Your username must be between 2 and 15 characters
            </li>
            <li class="error" *ngIf="form.controls['username'].hasError('pattern')">
              Your username can only contain latin letters, digits
            </li>
          </ul>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" formControlName="email"/>
          <ul>
            <li class="error" *ngIf="form.controls['email'].hasError('pattern') || form.controls['email'].hasError('maxlength')">
              Invalid email address
            </li>
          </ul>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password"/>
          <ul>
            <li class="error" *ngIf="form.controls['password'].hasError('minlength') || form.controls['password'].hasError('maxlength')">
              Your password must be between 8 and 35 characters
            </li>
            <li class="error" *ngIf="form.controls['password'].hasError('pattern')">
              Your Password must contain at least one lowercase latin letter, uppercase latin letter, digit, special character
            </li>
          </ul>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!form.valid" type="submit">
            Create account
          </button>
        </div>
      </form>
      <div class="switch-auth">
        Have an account?
        <a [routerLink]="['/login']">Log in</a>
      </div>
      <div class="continue-with">
        <button type="button" class="btn btn-secondary ctn" (click)="withGoogle()">
          <img src="assets/images/google.png" alt="google" class="btn-logo">
          <div class="btn-text">Continue with Google</div>
        </button>
        <button type="button" class="btn btn-secondary ctn" (click)="withGit()">
          <img src="assets/images/github.png" alt="github" class="btn-logo">
          <div class="btn-text">Continue with Github</div>
        </button>
      </div>
      <p class="agreement">
        By continuing, you agree to Codi's
        <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>, and to receiving emails with updates.
      </p>
    </div>
  </div>
</div>

