<div class="repl-close">
  <button class="btn btn-outline-primary btn-sm" (click)="activeModal.close()">
    <svg preserveAspectRatio="xMidYMin" width="14" height="14" viewBox="0 0 24 24" color="currentColor" stroke="currentColor" stroke-width="2" fill="transparent" style="vertical-align: middle;">
      <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
</div>
<div class="all-repl-content">
  <div class="repl-content">
    <div class="title-repl">
        <span class="title-repl-text">Create a project</span>
        <button type="button" class="btn btn-outline-primary btn-sm">
            <span class="repl-form-span">Import from GitHub</span>
        </button>
    </div>
    <form>
      <div class="repl-create-form">
        <div class="repl-form-template">
          <div class="repl-form-box">
            <label class="repl-form-label">
              <span class="repl-form-span">Template</span>
            </label>
            <div class="repl-form-input-box">
              <input
                id="typeahead-focus"
                type="text"
                class="form-control"
                placeholder="Search templates"
                [(ngModel)]="model"
                [ngbTypeahead]="search"
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)"
                #instance="ngbTypeahead"
              />
            </div>
          </div>
        </div>
        <div class="repl-form-title">
          <div class="repl-form-title-box">
            <label class="repl-form-label">
              <span class="repl-form-span">Title</span>
            </label>
            <input  placeholder="Name your project" class="form-control" value="">
          </div>
          <div class="repl-form-title-box">
            <label class="repl-form-label">
              <span class="repl-form-span">Privacy</span>
            </label>
            <div class="repl-privacy-box">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
              <span class="repl-form-span">Repl is public</span>
            </div>
            <input class="btn btn-primary btn-sm" type="submit" value="Create repl">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
