<div class="content">
    <div class="heading-content-container">
        <div class="heading-content">
            <h2>Create</h2>
            <a class="align-self-end" routerLink="#">See all templates</a>
        </div>
        <div class="content-container">
            <div class="content-container-bottom">
                <button type="button" class="btn btn-outline-primary btn-lg mr-1" (click)="createProject()">
                    <i class="button fa fa-plus"></i>
                </button>
                <button type="button" class="create-button">
                    <img class="language-icon" src="assets/images/languages/web_project.svg">
                    HTML, CSS, JS
                </button>
                <button type="button" class="create-button">
                    <img class="language-icon" src="assets/images/languages/python.svg">
                    Python
                </button>
                <button type="button" class="create-button">
                    <img class="language-icon" src="assets/images/languages/java.svg">
                    Java
                </button>
            </div>
        </div>
    </div>

    <div class="heading-content-container mt-3">
        <div class="heading-content">
            <h2>Recent</h2>
            <a class="align-self-end" routerLink="/main/projects">See all projects</a>
        </div>
        <div class="external-content-container">
            <div class="content-container" *ngFor="let project of projects" [routerLink]="['/workspace', project.id]">
                <div class="content-container-top">
                    <span class="text">
                        {{project.title}}
                        </span>
                    <span class="recent-activity">
                        {{project.createdAt | dateAgo}}
                    </span>
                </div>
                <div class="content-container-bottom">
                    <div class="bottom-language-container">
                        <button type="button" class="create-button">
                            <img class="language-icon" [src]="iconForLanguage(project.language)" alt="lang">
                            {{projectLanguage[project.language]}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-content-container mt-3">
        <div class="heading-content">
            <h2>GitHub repos</h2>
            <a class="align-self-end" routerLink="#">View all GitHub repos</a>
        </div>
        <div class="external-content-container">
            <div class="content-container">
                <div class="content-container-top">
                    <span class="text">bator/alfa_blog</span>
                    <div class="rating">
                        <i class="icon fa fa-star"></i>
                        <span class="rating-mark-zero">0</span>
                    </div>
                </div>
                <div class="content-container-bottom">
                    <div class="bottom-language-container">
                        <button type="button" class="create-button">
                            <img class="language-icon" src="assets/images/languages/web_project.svg">
                            HTML, CSS, JS
                        </button>
                    </div>
                    <i class="git-icon fa fa-github"></i>
                </div>
            </div>
            <div class="content-container">
                <div class="content-container-top">
                    <span class="text">bator/AlabamaAlgorithm</span>
                    <div class="rating">
                        <i class="mark-icon fa fa-star"></i>
                        <span class="rating-mark">4.5</span>
                    </div>
                </div>
                <div class="content-container-bottom">
                    <div class="bottom-language-container">
                        <button type="button" class="create-button">
                            <img class="language-icon" src="assets/images/languages/python.svg">
                            Python
                        </button>
                    </div>
                    <i class="git-icon fa fa-github"></i>
                </div>
            </div>
            <div class="content-container">
                <div class="content-container-top">
                    <span class="text">bator/test</span>
                    <div class="rating">
                        <i class="icon fa fa-star"></i>
                        <span class="rating-mark-zero">0</span>
                    </div>
                </div>
                <div class="content-container-bottom">
                    <div class="bottom-language-container">
                        <button type="button" class="create-button">
                            <img class="language-icon" src="assets/images/languages/java.svg">
                            Java
                        </button>
                    </div>
                    <i class="git-icon fa fa-github"></i>
                </div>
            </div>
        </div>
    </div>
</div>
