<div class="all-content">

    <div id="features-block-1">
        <h1>Features</h1>
        <h3>Features block 1</h3>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <h3 id="features-block-2">Features block 2</h3>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <h3 id="features-block-3">Features block 3</h3>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
    </div>

    <div id="summary-block">
        <h1>Summary block</h1>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
    </div>

    <div id="teamforeducation-block">
        <h1>Team for Education block</h1>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
        <p>landing-content works!</p>
    </div>
</div>