<div class="all-content">
    <div id="summary-block">
    </div>
    <div id="teamforeducation-block">
    </div>
    <div class="promo">
        Code, create, and <br />learn together
    </div>
    <div class="center">
        Use our free, collaborative, in-browser IDE to code in 50+ languages - without <br /> spending a second on
        setup.
        <br />
        <button class="button-coding" [routerLink]="['/login']" >
            &lt;&gt;Start coding
        </button>
    </div>
    <div class="heading">
        <h1>Features for all skill levels</h1>
    </div>
    <div class="features-blocks">
        <div class="container">
            <div class="svg-container">
                <img class="image-svg" src="assets/images/pc.svg">
            </div>
            In-browser IDE
            <div class="container-content">Start coding with your
                favorite language on any
                platform, OS, and device.</div>

        </div>
        <div class="container">
            <div class="svg-container">
                <img class="image-svg" src="assets/images/user.svg">
            </div>
            Real-time collaboration
            <div class="container-content">
                Invite your friends,
                teammates, and colleagues
                right into your code with
                Google-docs like editing
            </div>
        </div>
        <div class="container">
            <div class="svg-container">
                <img class="image-svg" src="assets/images/git-hub.svg">
            </div>
            GitHub integration
            <div class="container-content">
                Import, run, and
                collaborate on millions of
                GitHub repos with 0
                manual setup.
            </div>
        </div>
        <div class="container">
            <div class="bracket-container">&lt;&gt;</div>
            50+ languages
            <div class="container-content">
                From Python, to C++, to
                HTML and CSS, stay in one
                platform to learn and code
                in any language you want.
            </div>
        </div>
    </div>
    <div class="gradient">
        <div id="feature-ide">
            <div class="feature-ide-container">
                <div><img [src]=IDEimage alt="Landing Logo" class="featureImg"></div>
                <div class="feature-content">
                    <div class="header-grey-features">
                        <h4>Instant IDE</h4>
                    </div>
                    <div class="feature-shadow">
                        Code right in your<br /> browser.
                    </div>
                    <div class="feature-text">
                        <span class="feature-text-header">Embeddable, 0 setup, and collaborative.</span>
                        <span class="feature-text-content">Codi is the best tool for queckly starting, sharingm and
                            developing
                            projects in any programming language, right from your browser.</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="feature-multiplayer">
            <div class="feature-ide-container">
                <div class="feature-content">
                    <div class="header-grey-features">
                        <h4>Multiplayer</h4>
                    </div>
                    <div class="feature-shadow">
                        Code together.
                    </div>
                    <div class="feature-text">
                        <span class="feature-text-header">Jump right in.</span>
                        <span class="feature-text-content">Enjoy a Google Docs-like editing experience, where you can
                            see your collaborators` cursors.
                        </span>
                    </div>
                </div>
                <div><img [src]=MultiplayerIMG alt="Landing Logo" class="featureImg"></div>
            </div>
        </div>
        <div id="feature-community">
            <div class="feature-ide-container">
                <div><img [src]=CommunityIMG alt="Landing Logo" class="featureImg"></div>
                <div class="feature-content">
                    <div class="header-grey-features">
                        <h4>Community</h4>
                    </div>
                    <div class="feature-shadow">
                        Talk, learn, collab.
                    </div>
                    <div class="feature-text">
                        <span class="feature-text-header">Help is just a click away.</span>
                        <span class="feature-text-content">
                            Instantly get help from a community of millions of other programmers and learners.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="supported-language" class="center">
            <h1>Languages</h1>
            <div class="language-list-content" [ngClass]="{'limitTextHeight': !showMoreLanguages}">
                <ul *ngFor="let language of languages | keyvalue">
                    {{ language.value }}
                </ul>
            </div>
            <p>
                <a type="button" class="button" (click)="showMoreItems()">
                    {{ showMoreLanguages ? 'Read Less' : 'Read More' }}
                </a>
            </p>
        </div>
    </div>
    <div class="center start-coding">
        <h1>Get started in seconds</h1>
        <div>
            <button class="button-coding" [routerLink]="['/login']">
                &lt;&gt;Start coding
            </button>
        </div>
    </div>
</div>
