<div class="container">
    <div class="back-link"><a routerLink="/main/courses">< back to all courses</a></div>
    <div class="team-profile">
        <div class="course-info">
            <img type="button" class="avatar" src="/assets/images/robot.png" alt="course avatar" (click)="editCourse(currentCourse)">
            <div class="info">
                <div class="d-flex">
                    <div class="name">
                        {{currentCourse.displayName}}
                    </div>
                </div>
                <div class="username">
                    @{{currentCourse.name}}
                </div>
                <p class="description username">
                    {{currentCourse.description}}
                </p>
            </div>
        </div>
        <button class="btn btn-primary" (click)="editCourse(currentCourse)">Edit</button>
    </div>
    <div class="team-members">
        <div class="team-member-avatar" *ngIf="courseUserSize <= sizeMember; else moreMember">
            <div class="member-avatar" *ngFor="let courseUser of currentCourse.courseUsers">
                <img *ngIf="courseUser.user.avatar; else generic" class="avatar-sm" src="{{courseUser.user.avatar}}" alt="avatar">
                <ng-template #generic>
                    <div class="avatar-sm generic-avatar">
                        {{courseUser.user.userName?.substring(0,1)?.toUpperCase()}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="team-member-avatar">
            <ng-template #moreMember>
                <div class="member-avatar" *ngFor="let courseUser of currentCourse.courseUsers | slice: 0:3">
                    <img *ngIf="courseUser.user.avatar; else generic" class="avatar-sm" src="{{courseUser.user.avatar}}" alt="avatar">
                    <ng-template #generic>
                        <div class="avatar-sm generic-avatar">
                            {{courseUser.user.userName?.substring(0,1)?.toUpperCase()}}
                        </div>
                    </ng-template>
                </div>
                <div class="avatar-member-length-sm generic-avatar">
                   +{{courseUserSize - sizeMember}}
                </div>
            </ng-template>
        </div>
        <div><a type="button" class="button" (click)="inviteMembers(currentCourse)">Manage team members</a></div>
    </div>
    <span class="line"></span>
    <div><button type="button" class="btn btn-primary">Create project</button></div>
</div>
