@import '~src/styles/variables'

.container
    max-width: 990px
    margin: 0 auto
    color: $base-text-color

.team-profile
    display: flex
    justify-content: space-between
    padding: 16px 16px 0

.course-info
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

.info
    padding: 0 3px 0 15px

.name
    font-size: $h2-font-size
    color: $base-text-color
    overflow-wrap: anywhere

.username
    color: $muted-text-color
    overflow-wrap: anywhere

.description
    margin-top: 10px
    font-size: $font-size-lg
    max-width: 700px
    word-wrap: anywhere

.back-link
    padding: 8px

.btn
    align-self: flex-start

.team-members
    padding-top: 24px
    display: flex
    align-items: center

.team-member-avatar
    padding-right: 32px
    display: flex

.line
    width: 100%
    display: block
    height: 1px
    background-color: $base-text-color
    margin: 10px 0

.member-avatar:not(:first-child)
    border-width: 0
    margin-left: -20px
    background-size: cover

.course-actions
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    .add-unit-container
        position: relative
        .add-unit
            padding: 10px
            border-radius: $border-radius
            border: 1px solid $secondary
            background-color: $background-panel-color
            color: $base-text-color
            transition: .1s
            cursor: pointer
            max-width: fit-content
            align-self: flex-end
            &:hover
                background-color: $background-panel-color-light
            &:hover + .clue
                display: block
        .clue
            display: none
            margin-top: 1px
            background-color: $background-panel-color
            color: $muted-text-color
            border-radius: $border-radius
            padding: 5px
            white-space: nowrap
            position: absolute
            right: 0%

.units
    .unit-item
        .unit-header
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 5px
            .unit-title
                padding: 10px 0
                font-size: $h5-font-size
        .unit-body
            background-color: $background-panel-color
            border-radius: $border-radius
            padding: 10px

.projects
    margin-bottom: 25px

.title
    font-size: $h3-font-size
    font-weight: bold

.container-items
    background-color: $background-panel-color
    border-radius: $border-radius
    border: 1px solid $secondary
    padding: 15px 15px
    .container-header
        display: flex
        justify-content: space-between
        .header-title
            font-weight: bold
            font-size: $font-size-sm
            text-transform: uppercase
            color: $muted-text-color
    .container-body
        .container-item
            display: flex
            justify-content: space-between
            align-items: center
            background-color: $background-panel-color
            border-radius: $border-radius
            border: 1px solid $secondary
            padding: 30px 15px
            margin-top: 10px
            .item-title
                cursor: pointer
                font-size: $h5-font-size
                transition: .1s
                &:hover
                    opacity: 75%

.empty-unit
    cursor: pointer
    padding: 30px 0
    text-align: center
    color: $primary
    &:hover
        color: $accent-text-color

\:host ::ng-deep .dropdown-toggle
    margin: 0 !important
    &:after
        display: none
