<div class="content">
  <div class="container">
    <div class="user-info">
      <div class="title">Profile</div>
      <form [formGroup]="form" class="edit-area">
        <div class="avatar-container" (click)="file.click()">
          <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
          <img *ngIf="user?.avatar; else generic" class="avatar" src="{{user.avatar}}" alt="User avatar">
          <ng-template #generic>
            <div class="avatar generic-avatar">
              {{user?.userName?.substring(0,1)?.toUpperCase()}}
            </div>
          </ng-template>
          <div class="change-avatar">change avatar</div>
        </div>
        <div class="info">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input formControlName="userName" type="text" class="form-control" id="username">
            <ul>
                <li class="text-danger" *ngIf="form.controls['userName'].hasError('required')">
                    Username is required
                </li>
                <li class="text-danger" *ngIf="form.controls['userName'].hasError('minlength') || form.controls['userName'].hasError('maxlength')">
                    Username must be between 2 and 25 characters
                </li>
                <li class="text-danger" *ngIf="form.controls['userName'].hasError('pattern')">
                    Username can only contain latin letters, digits
                </li>
            </ul>
          </div>
          <div class="name-inputs">
            <div class="mb-3 firstName">
              <label for="firstName" class="form-label">First name</label>
              <input formControlName="firstName" type="text" class="form-control" id="firstName">
              <ul>
                  <li class="text-danger" *ngIf="form.controls['firstName'].hasError('maxlength')">
                      First name must be less than 100 characters
                  </li>
                  <li class="text-danger" *ngIf="form.controls['firstName'].hasError('pattern')">
                      First name must only contain latin letters
                  </li>
              </ul>
            </div>
            <div class="mb-3 lastName">
              <label for="lastName" class="form-label">Last name</label>
              <input formControlName="lastName" type="text" class="form-control" id="lastName">
              <ul>
                  <li class="text-danger" *ngIf="form.controls['lastName'].hasError('maxlength')">
                      Last name must be less than 100 characters
                  </li>
                  <li class="text-danger" *ngIf="form.controls['lastName'].hasError('pattern')">
                      Last name must only contain latin letters
                  </li>
              </ul>
            </div>
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea formControlName="bio" type="text" class="form-control bio" id="bio" aria-describedby="bioHelp"></textarea>
            <div id="bioHelp" class="form-text bioHelp" [ngClass]="{'text-danger' : form.controls['bio'].value?.length > 140}">
                * {{form.controls['bio'].value?.length ?? 0}} / 140 characters is allowed
            </div>
          </div>
          <button type="submit" class="btn btn-primary save" (click)="updateUser()" [disabled]="!form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
