@import "src/styles/global"

.wrapper
  font-size: $font-size-default
  color: $foreground-dimmer

.container
  max-width: 600px
  margin: 0 auto

.title
  color: $foreground-default
  font-size: $font-size-header-default
  font-weight: bold
  margin: 20px 0 10px 0

.avatar
  max-width: 118px
  min-width: 118px
  height: 118px
  border-radius: 100%
  margin-right: 15px

.edit-area
  width: 100%
  background-color: $background-color
  display: flex
  border: 1px solid $outline-dimmest
  border-radius: 5px
  padding: 15px

.name-inputs
  display: flex

.firstname
  margin-right: 15px

.bio
  line-height: 2em

.save
  float: right
  margin-top: 10px

.avatar-container
  cursor: pointer
  transition: linear .1s

.avatar-container:hover
  opacity: 50%

.generic-avatar
  background-color: $foreground-dimmer
  color: $base-text-color
  width: 118px
  font-size: $font-size-subhead-big
  text-align: center
  line-height: 118px
