@import "src/styles/variables"

.content
  cursor: default

.container
  max-width: 600px
  margin: 0 auto

.title
  font-size: $h3-font-size
  font-weight: bold
  margin: 20px 0 10px 0

.edit-area
  width: 100%
  background-color: $background-panel-color
  border: 1px solid $secondary
  border-radius: 5px
  padding: 15px
  &.edit-user
    display: flex
    justify-content: center

.info
    margin: 0 15px

.name-inputs
  display: flex

.firstName
  margin-right: 15px

.firstName, .lastName
  flex: 0 1 100%

.bio
  min-height: 95px
  resize: none
  overflow-y: hidden

.bioHelp
  color: $muted-text-color

.save
  float: right
  margin-top: 10px

.avatar-container
  height: 118px
  cursor: pointer
  transition: linear .1s
  text-align: center
  margin-bottom: 25px
  .change-avatar
      font-weight: bold

.avatar-container:hover
  opacity: 50%

@media (max-width: 576px)
  .edit-area
    flex-wrap: wrap
    .name-inputs
      flex-wrap: wrap
      .firstName
        margin: 0

.provider-item
  display: flex
  justify-content: space-between
  padding: 10px 0
  .provider-title
    font-size: $h4-font-size
