@import "src/styles/global"

.wrapper
  color: $base-text-color
  font-size: $font-size-base
  cursor: default

.container
  max-width: 600px
  margin: 0 auto

.title
  font-size: $h3-font-size
  font-weight: bold
  margin: 20px 0 10px 0

.avatar
  margin-right: 15px

.edit-area
  width: 100%
  background-color: $background-panel-color
  display: flex
  border: 1px solid $secondary
  border-radius: 5px
  padding: 15px

.name-inputs
  display: flex

.firstName
  margin-right: 15px

.bio
  line-height: 2em

.save
  float: right
  margin-top: 10px

.avatar-container
  height: 118px
  cursor: pointer
  transition: linear .1s

.avatar-container:hover
  opacity: 50%
