<div class="modal-header">
    <div class="text-content-long">
    <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="close">
        <button class="btn btn-outline-primary btn-sm" (click)="closeDismiss()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="modal-body" *ngIf="options?.allowHtmlContent; else contentBody"
    [innerHTML]="content">
</div>

<ng-template #contentBody>
    <div class="modal-body">
        <p>{{content}}</p>
    </div>
</ng-template>

<div class="modal-footer">
    <button *ngIf="options?.cancelButton ?? true" type="button"
        [ngClass]="options?.cancelButtonClass ?? 'btn btn-danger'" (click)="closeCancel()">
        {{options?.cancelButtonText ?? "Cancel"}}
    </button>
    <button *ngIf="options?.confirmButton ?? true" type="button"
        [ngClass]="options?.confirmButtonClass ?? 'btn btn-primary'" (click)="closeConfirm()">
        {{options?.confirmButtonText ?? "Confirm"}}
    </button>
</div>
