<div class="all">
  <div class="logoAndfeatures">
    <a routerLink="/landing-page" routerLinkActive="active" class="Logo"><img [src]=landingImage alt="Landing Logo" width="100"
        height="35"></a>
        <div class="hide">
    <div class="drop-down">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor
          (focus)="myDrop.open()">Features</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="dropdownlist">
          <button ngbDropdownItem (click)="scrollFunc('features-block-1')" class="buttoncontent">IDE</button>
          <button ngbDropdownItem (click)="scrollFunc('features-block-2')" class="buttoncontent">Multiplayer</button>
          <button ngbDropdownItem (click)="scrollFunc('features-block-3')" class="buttoncontent">Community</button>
        </div>
      </div>
    </div>
    <a (click)="scrollFunc('summary-block')">Summary</a>
    <a (click)="scrollFunc('teamforeducation-block')">Team for Education</a>
  </div>
</div>
  <div class="buttons">
    <button  class="logButton" type="Button" [routerLink]="['/login']">Log in</button>
    <button  class="signButton" type="Button" [routerLink]="['/register']">Sign in</button>
  </div>
</div>
