@import 'src/styles/variables'

.all
    background-color: $background-panel-color
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px

.logoAndfeatures
    font-size: $font-size-lg
    color: $base-text-color

    .logo
        margin: 0px
        font-size: 40px

    a
        display: inline
        margin: 0 10px
        font-size: $font-size-base
        font-weight: bold

    a:hover 
        cursor: pointer
        border-bottom: solid
        border-bottom-width: 2px
        background-color: $background-panel-color

.dropdownlist
    background-color: $background-panel-color

.drop-down
    display: inline
    margin: 0 10px
    font-size: $font-size-base
    font-weight: bold
    color: $base-text-color

#dropdownManual
    color: $base-text-color

.buttoncontent
    color: $base-text-color

.buttoncontent:hover
    color: $background-color

.navbar-logo-container
    display: flex
    flex-direction: row
    align-items: center

    .navbar-logo
        margin-left: 30px
        height: 50px
        cursor: pointer

.login-buttons
    margin-right: 20px
