@import '//src\styles\variables.sass'

.all
    padding-top: 5px
    background-color: var(--backgroundcolor)
    display: flex
    flex-direction: row
    justify-content: space-between
    border-color: white

.logButton
    color: rgb(87,171,255)
    background-color: rgb(43,50,69)
    width: 60px
    border-width: 2px
    border-radius: 5px
    margin-right: 10px

.logButton:hover
    color: #000000
    background-color: #6e6e6e

.signButton
    color: rgb(252,244,250)
    background-color: rgb(0,121,242)
    width: 70px
    border-width: 2px
    border-radius: 5px
    
.signButton:hover
    color: #000000
    background-color: #6e6e6e

.logoAndfeatures
    color: white
    margin: 10px
    font-size: 24px
.dropdownlist
    background-color: rgb(28, 42, 73)
.buttons
    position: relative
    top: 0
    margin: 10px

.logoImage
    width: 500px

a
    display: inline
    margin-right: 20px
    font-size: 16px
    font-weight: bold
    color: rgb(0, 123, 255)
    
a:hover 
    cursor: pointer
    border-bottom: solid
    border-color: rgb(0, 123, 255)
    border-bottom-width: 2px
 
.drop-down
    display: inline
    margin-right: 20px
    font-size: 16px
    font-weight: bold
    color: white

#dropdownManual
    color: white

.buttoncontent
    color: white

.buttoncontent:hover
    color: black
    