<div class="all">
  <div class="logoAndfeatures d-flex align-items-center">
    <h3 class="logo mr-4">Codi</h3>
    <div class="drop-down">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor
          (focus)="myDrop.open()">Features</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" class="dropdownlist">
          <button ngbDropdownItem (click)="scrollFunc('features-block-1')" class="buttoncontent">Feature 1</button>
          <button ngbDropdownItem (click)="scrollFunc('features-block-2')" class="buttoncontent">Feature 2</button>
          <button ngbDropdownItem (click)="scrollFunc('features-block-3')" class="buttoncontent">Feature 3</button>
        </div>
      </div>
    </div>
    <a (click)="scrollFunc('summary-block')">Summary</a>
    <a (click)="scrollFunc('teamforeducation-block')">Team for Education</a>
  </div>
  <div>
    <button class="btn btn-outline-primary" type="button">Log in</button>
    <button class="btn btn-primary ml-2" type="button">Sign in</button>
  </div>
</div>
