@import 'src/styles/variables'

.all
    background-color: $background-panel-color
    display: flex
    justify-content: space-between
.logButton
    color: $base-text-color
    background-color: $background-panel-color
    width: 60px
    border: solid
        radius: 5px
        width: 1px
        color: $primary
    margin-right: 10px
.logButton:hover
    color: $base-text-color
    background-color: $primary
.signButton
    color: $base-text-color
    background-color: $primary
    width: 70px
    border-radius: 5px
    border-width: 0px
.signButton:hover
    background-color: $input-hover-outline
    color: $background-color
.logoAndfeatures
    font-size: $font-size-lg
    color: $base-text-color
    margin:10px
    .logo
        margin: 0px
        font-size: 40px

    a
        display: inline
        margin: 0 10px
        font-size: $font-size-base
        font-weight: bold

    a:hover 
        cursor: pointer
        border-bottom: solid
        border-bottom-width: 2px
        background-color: $background-panel-color
    img:hover
        cursor: pointer

.dropdownlist
    background-color: $background-panel-color
.buttons
    margin: 10px
.logoImage
    width: 500px
.hide
    display: inline
a
    display: inline
    margin-right: 10px
    font-size: $font-size-sm
    font-weight: bold
a:hover 
    cursor: pointer
    border-bottom: solid
    border-bottom-width: 2px
.drop-down
    display: inline
    margin-right: 4px
    font-size: $font-size-base
    font-weight: bold
    color: $base-text-color

#dropdownManual
    color: $base-text-color

.buttoncontent
    color: $base-text-color

.buttoncontent:hover
    color: $background-color
.Logo:hover
    border-width: 0
@media screen and ( max-width: 1200px )
    .logButton
        margin: 10px
@media screen and ( max-width: 750px )
    .hide
        display: none
    
    
