<nav id="sidebar" class="navbar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
    <div class="navbar-nav-container">
    <ul class="navbar-nav">
        <div class="nav-item" (click)="sideNavService.toggleSideNav()" routerLink="/main/home" routerLinkActive="active">
            <i class="side-icon fa fa-home"></i>
            <span class="nav-link">Home</span>
        </div>
        <div class="nav-item" (click)="sideNavService.toggleSideNav()" routerLink="/main/apps" routerLinkActive="active">
            <i class="side-icon fa fa-laptop"></i>
            <span class="nav-link">Apps</span>
        </div>
        <div class="nav-item" (click)="sideNavService.toggleSideNav()" routerLink="/main/projects" routerLinkActive="active">
            <i class="side-icon fa fa-bolt"></i>
            <span class="nav-link" >My Projects</span>
        </div>
        <div class="nav-item" (click)="sideNavService.toggleSideNav()" routerLink="/main/courses" routerLinkActive="active">
            <i class="side-icon fa fa-star"></i>
            <span class="nav-link">Courses</span>
        </div>
    </ul>
    </div>
    <div class="sidebar-border"></div>
    <ul class="navbar-nav-extra">
        <div class="nav-item-extra" routerLink="/main/blog" routerLinkActive="active">
            <span class="nav-link-extra">Blog</span>
        </div>
        <div class="nav-item-extra" routerLink="/main/about" routerLinkActive="active">
            <span class="nav-link-extra">About</span>
        </div>
        <div class="nav-item-extra" routerLink="/main/careers" routerLinkActive="active">
            <span class="nav-link-extra">Careers</span>
        </div>
        <div class="nav-item-extra" routerLink="/main/pricing" routerLinkActive="active">
            <span class="nav-link-extra">Pricing</span>
        </div>
        <div class="nav-item-extra" routerLink="/main/discord" routerLinkActive="active">
            <span class="nav-link-extra">Discord</span>
        </div>
    </ul>
  </nav>
