<div class="modal-header">
    <h3>New Course in {{org.name}}</h3>
    <div class="close">
        <button class="btn btn-outline-primary btn-sm" (click)="closeDialog()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="modal-body">
    <div class="remark">
        This course is in {{org.name}}. Organization owner can see the members and contents of this course.
    </div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="courseName">Course display name</label>
            <input
                type="text" class="form-control" id="courseName"
                placeholder="What should the Course be called?"
                formControlName="displayName"
                [class.is-invalid]="(form.controls['displayName'].dirty || form.controls['displayName'].touched) && form.controls['displayName'].invalid"
            >
            <ul>
                <li class="text-danger" *ngIf="form.controls['displayName'].hasError('required') && form.controls['displayName'].touched">
                    Course display name is required
                </li>
                <li class="text-danger" *ngIf="form.controls['displayName'].hasError('minlength') || form.controls['displayName'].hasError('maxlength')">
                    Your course name must be between 5 and 60 characters
                </li>
                <li class="text-danger" *ngIf="form.controls['displayName'].hasError('pattern')">
                    Your course name can only contain latin letters, digits, printable characters
                </li>
                <li class="text-danger" *ngIf="form.controls['displayName'].hasError('noWhiteSpace')">
                    Your course name can't contain space at the beginning or at the end
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="courseDisplayName">Course username</label>
            <input
                type="text" class="form-control" id="courseDisplayName"
                placeholder="course-username" aria-describedby="courseNameHelp"
                formControlName="name"
                [class.is-invalid]="(form.controls['name'].dirty || form.controls['name'].touched) && form.controls['name'].invalid"
            >
            <ul>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
                    Course username is required
                </li>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('minlength') || form.controls['name'].hasError('maxlength')">
                    Your course-username must be between 5 and 60 characters
                </li>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('pattern')">
                    Your course-username can only contain latin letters, digits
                </li>
                <li class="text-danger" *ngIf="form.controls['name'].hasError('courseNameExists')">
                    This course-username is already in use
                </li>

            </ul>
            <div id="courseNameHelp" class="form-text attention">You can't change this after creating a Course! So pick carefully.</div>
        </div>
        <button type="submit" (click)="createCourse()" class="btn btn-primary w-100 mt-3" [disabled]="!form.valid">Create course</button>
    </form>
</div>
