<app-header>
    <div class="content">
        <div class="container">
            <div class="user-info">
                <div class="title">Profile</div>
                <form [formGroup]="form" class="edit-area edit-user">
                    <div class="avatar-container" (click)="file.click()">
                        <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
                        <img *ngIf="user?.avatar; else generic" class="avatar" src="{{user.avatar}}" alt="User avatar">
                        <ng-template #generic>
                            <div class="avatar generic-avatar">
                                {{user?.userName?.substring(0,1)?.toUpperCase()}}
                            </div>
                        </ng-template>
                        <div class="change-avatar">change avatar</div>
                    </div>
                    <div class="info">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input formControlName="userName"
                                   type="text" class="form-control" id="username"
                                   [class.is-invalid]="(form.controls['userName'].dirty || form.controls['userName'].touched) && form.controls['userName'].invalid"
                            >
                            <ul>
                                <li class="text-danger" *ngIf="form.controls['userName'].hasError('required')">
                                    Username is required
                                </li>
                                <li class="text-danger" *ngIf="form.controls['userName'].hasError('minlength') || form.controls['userName'].hasError('maxlength')">
                                    Username must be between 2 and 25 characters
                                </li>
                                <li class="text-danger" *ngIf="form.controls['userName'].hasError('pattern')">
                                    Username can only contain latin letters, digits
                                </li>
                            </ul>
                        </div>
                        <div class="name-inputs">
                            <div class="mb-3 firstName">
                                <label for="firstName" class="form-label">First name</label>
                                <input
                                    formControlName="firstName" type="text"
                                    class="form-control" id="firstName"
                                    [class.is-invalid]="(form.controls['firstName'].dirty || form.controls['firstName'].touched) && form.controls['firstName'].invalid"
                                >
                                <ul>
                                    <li class="text-danger" *ngIf="form.controls['firstName'].hasError('maxlength')">
                                        First name must be less than 60 characters
                                    </li>
                                    <li class="text-danger" *ngIf="form.controls['firstName'].hasError('pattern')">
                                        First name must only contain latin letters
                                    </li>
                                </ul>
                            </div>
                            <div class="mb-3 lastName">
                                <label for="lastName" class="form-label">Last name</label>
                                <input
                                    formControlName="lastName" type="text"
                                    class="form-control" id="lastName"
                                    [class.is-invalid]="(form.controls['lastName'].dirty || form.controls['lastName'].touched) && form.controls['lastName'].invalid"
                                >
                                <ul>
                                    <li class="text-danger" *ngIf="form.controls['lastName'].hasError('maxlength')">
                                        Last name must be less than 60 characters
                                    </li>
                                    <li class="text-danger" *ngIf="form.controls['lastName'].hasError('pattern')">
                                        Last name must only contain latin letters
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea formControlName="bio" type="text" class="form-control bio" id="bio" aria-describedby="bioHelp"></textarea>
                            <div id="bioHelp" class="form-text bioHelp" [ngClass]="{'text-danger' : form.controls['bio'].value?.length > 140}">
                                * {{form.controls['bio'].value?.length === null ? 0 : form.controls['bio'].value?.length}} / 140 characters is allowed
                            </div>
                            <ul>
                                <li class="text-danger" *ngIf="form.controls['bio'].hasError('pattern')">
                                    Your bio can only contain latin letters, digits, printable characters
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-primary save" (click)="updateUser()" [disabled]="!form.valid">Save</button>
                    </div>
                </form>
            </div>
            <div class="connected-providers">
                <div class="title">Connected services</div>
                <div class="edit-area">
                    <div class="provider-item">
                        <div class="provider-title">
                            Google
                        </div>
                        <button class="btn btn-primary" (click)="isGoogleLinked ? unlinkProvider(provider.google)
                : linkProvider(provider.google)" [disabled]="isGoogleLinked && isLastProviderLinked">
                            {{isGoogleLinked ? 'Disconnect' : 'Connect'}}
                        </button>
                    </div>
                    <div class="provider-item">
                        <div class="provider-title">
                            Github
                        </div>
                        <button class="btn btn-primary" (click)="isGitHubLinked ? unlinkProvider(provider.github)
                : linkProvider(provider.github)" [disabled]="isGitHubLinked && isLastProviderLinked">
                            {{isGitHubLinked ? 'Disconnect' : 'Connect'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="github-credentials">
                <div class="title">
                    Set up your Github credentials to enable ability to create projects from Github repository.
                </div>
                <form [formGroup]="tokenForm" class="edit-area token-area">
                    <div class="mb-3">
                        <label for="token" class="form-label">Access token</label>
                        <input formControlName="token" type="text" class="form-control" id="token">
                    </div>
                    <ul>
                        <li class="text-danger" *ngIf="tokenForm.controls['token'].hasError('required') && tokenForm.get('token')?.touched">
                            Access token is required
                        </li>
                        <li class="text-danger" *ngIf="tokenForm.errors?.['invalidToken']">
                            {{tokenForm.errors?.['invalidToken'].message}}
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>
                                Learn at <a href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token" target="_blank">this</a>
                                tutorial how to generate personal access token
                            </p>
                        </li>
                        <li>
                            <p>Set up <strong>repo</strong> scopes</p>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary save" (click)="saveCredentials()" [disabled]="!tokenForm.valid">Set up</button>
                </form>
            </div>
        </div>
    </div>
</app-header>
