<div *ngIf="router.url.includes('/workspace') ; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
    <div class="all">
        <div class="navbar-left">
            <div class="navbar-logo-container">
                <img class="navbar-logo" src="assets/images/Logo.svg" routerLink="/main">
                <nav class="navbar">
                    <app-side-nav-toggler></app-side-nav-toggler>
                </nav>
            </div>
            <div class="project-container">
                <form class="form" [formGroup]="form">
                    <input type="text" class="project-name" formControlName="title" id="projectName" placeholder='Project Name' maxlength="100">
                    <div class="error" *ngIf="form.controls['title'].hasError('required')">
                        Project name is required
                    </div>
                    <div class="error" *ngIf="form.controls['title'].hasError('minlength') || form.controls['title'].hasError('maxlength')">
                        Project name must be between 2 and 60 characters
                    </div>
                </form>
                <div class="project-changes-history">
                    <img class="proj-changes-history-icon" src="assets/images/workspace/recent.svg" routerLink="">
                </div>
            </div>
        </div>
        <div class="navbar-center">
            <div class="buttons-container">
                <button class="button-item run-btn">
                    <span class="button-text">Run</span>
                    <img class="button-icon run-icon" src="assets/images/workspace/runbttn.svg">
                </button>
                <button class="button-item build-btn">
                    <span class="button-text">Build</span>
                    <img class="button-icon build-icon" src="assets/images/workspace/buildbttn.svg">
                </button>
                <button class="button-item save-btn" *ngIf="!anyChangesSaved()" (click)="saveChanges()">
                    <span class="button-text">Save changes</span>
                    <img class="button-icon" src="assets/images/workspace/floppy-disk.png">
                </button>
            </div>
        </div>
        <div class="navbar-right">
            <div class="user-container">
                <img *ngIf="currentUser?.avatar; else generic" class="user-icon avatar-sm" src="{{currentUser?.avatar}}" alt="User avatar">
                <ng-template #generic>
                <div class="user-icon avatar-sm generic-avatar">
                    {{currentUser?.userName?.substring(0,1)?.toUpperCase()}}
                </div>
                </ng-template>
                <div class="username user-select-none" role="button" (click)="$event.stopPropagation(); dropdownOptions.open();">
                    <span>{{currentUser?.userName}}</span>
                </div>
            </div>
            <div class="row mr-2">
                <div class="col">
                <div ngbDropdown #dropdownOptions="ngbDropdown" class="dropdown-cont d-inline-block">
                    <button class="btn dropdown-arrow-button" id="dropdownMenu" ngbDropdownToggle>
                    </button>
                    <div ngbDropdownMenu class="dropdown-custom" aria-labelledby="dropdownMenu">
                        <button ngbDropdownItem class="dropdown-user">
                            <div class="dropdown-user-container">
                                <img *ngIf="currentUser?.avatar; else generic" class="dropdown-user-icon" src="{{currentUser?.avatar}}" alt="User avatar">
                                <ng-template #generic>
                                <div class="user-icon generic-icon">
                                    {{currentUser?.userName?.substring(0,1)?.toUpperCase()}}
                                </div>
                                </ng-template>
                                <div class="dropdown-username user-select-none" role="button" (click)="$event.stopPropagation(); dropdownOptions.open();">
                                    <span>{{currentUser?.userName}}</span>
                                </div>
                            </div>
                        </button>
                        <div class="dropdown-create-button-container">
                            <button ngbDropdownItem type="button" class="dropdown-create-button">
                                <i class="dropdown-button fa fa-plus"></i>
                                Create
                            </button>
                        </div>
                        <button ngbDropdownItem class="custom-text" [routerLink]="['/user', currentUser?.id]">Profile</button>
                        <button ngbDropdownItem class="custom-text" (click)="logout()">Logout</button>
                    </div>
                </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary w-75 d-flex justify-content-center align-items-center">
                <span class="ml-1">Invite</span>
            </button>
            <div class="workspace-search-container-box">
                <button class="search-container-button">
                    <i class="search-icon fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div class="all">
        <div class="navbar-left">
            <div class="navbar-logo-container">
                <img class="navbar-logo" src="assets/images/Logo.svg" routerLink="/main">
                <nav class="navbar">
                    <app-side-nav-toggler></app-side-nav-toggler>
                </nav>
            </div>
        </div>
        <div class="navbar-right">
            <div class="user-container">
                <img *ngIf="currentUser?.avatar; else generic" class="user-icon avatar-sm" src="{{currentUser?.avatar}}" alt="User avatar">
                <ng-template #generic>
                <div class="user-icon avatar-sm generic-avatar">
                    {{currentUser?.userName?.substring(0,1)?.toUpperCase()}}
                </div>
                </ng-template>
                <div class="username user-select-none" role="button" (click)="$event.stopPropagation(); dropdownOptions.open();">
                    <span>{{currentUser?.userName}}</span>
                </div>
            </div>
            <div class="row mr-2">
                <div class="col">
                <div ngbDropdown #dropdownOptions="ngbDropdown" class="dropdown-cont d-inline-block">
                    <button class="btn dropdown-arrow-button" id="dropdownMenu" ngbDropdownToggle>
                    </button>
                    <div ngbDropdownMenu class="dropdown-custom" aria-labelledby="dropdownMenu">
                        <button ngbDropdownItem class="dropdown-user">
                            <div class="dropdown-user-container">
                                <img *ngIf="currentUser?.avatar; else generic" class="dropdown-user-icon" src="{{currentUser?.avatar}}" alt="User avatar">
                                <ng-template #generic>
                                <div class="user-icon generic-icon">
                                    {{currentUser?.userName?.substring(0,1)?.toUpperCase()}}
                                </div>
                                </ng-template>
                                <div class="dropdown-username user-select-none" role="button" (click)="$event.stopPropagation(); dropdownOptions.open();">
                                    <span>{{currentUser?.userName}}</span>
                                </div>
                            </div>
                        </button>
                        <div class="dropdown-create-button-container">
                            <button ngbDropdownItem type="button" class="dropdown-create-button" (click)="createProject()">
                                <i class="dropdown-button fa fa-plus"></i>
                                Create
                            </button>
                        </div>
                        <button ngbDropdownItem class="custom-text" [routerLink]="['/user', currentUser?.id]">Profile</button>
                        <button ngbDropdownItem class="custom-text" (click)="logout()">Logout</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
