<div class="content">
    <div class="apps-header">
        <div class="apps-header-title">
            <h1>Apps</h1>
            <button (click)="publichApp()" class="btn btn-primary">Publish</button>
        </div>
        <div class="muted-text">
            <p>Discover and share amazing repls to run, comment and fork</p>
        </div>
    </div>

    <div class="apps-collection mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Top this month</h3>
            <a routerLink="/main/applications">See all</a>
        </div>
        <div class="apps-collection-container mt-2">
            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=1" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=3" alt="author avatar">
                        <a href="/main/applications">Jaylon</a>
                    </div>
                    <h4>Slope</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">JavaScript</span>
                        <span class="app-card-tag">HTML</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=2" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=1" alt="author avatar">
                        <a href="/main/applications">Kenter</a>
                    </div>
                    <h4>Drift Boss(Modified)</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Easy</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=3" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=2" alt="author avatar">
                        <a href="/main/applications">Skylar</a>
                    </div>
                    <h4>Minecraft 1.18</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">Python</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 
        </div>   
    </div>

    <div class="apps-collection mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h3>#HTML</h3>
            <a routerLink="/main/applications">See all</a>
        </div>
        <div class="apps-collection-container mt-2">
            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=12" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=13" alt="author avatar">
                        <a href="/main/applications">Jaylon</a>
                    </div>
                    <h4>Slope</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">JavaScript</span>
                        <span class="app-card-tag">HTML</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=14" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=15" alt="author avatar">
                        <a href="/main/applications">Kenter</a>
                    </div>
                    <h4>Drift Boss(Modified)</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Easy</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=16" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=17" alt="author avatar">
                        <a href="/main/applications">Skylar</a>
                    </div>
                    <h4>Minecraft 1.18</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">Python</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 
        </div>   
    </div>

    <div class="apps-collection mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h3>#Fun</h3>
            <a routerLink="/main/applications">See all</a>
        </div>
        <div class="apps-collection-container mt-2">
            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=4" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=5" alt="author avatar">
                        <a href="/main/applications">Jaylon</a>
                    </div>
                    <h4>Slope</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">JavaScript</span>
                        <span class="app-card-tag">HTML</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=6" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=7" alt="author avatar">
                        <a href="/main/applications">Kenter</a>
                    </div>
                    <h4>Drift Boss(Modified)</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Similique iure distinctio quisquam quod! Facilis, saepe. </div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Easy</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 

            <div class="app-card">
                <div class="app-card-image">
                    <img src="https://picsum.photos/200?random=8" alt="app image">
                </div>

                <div class="app-card-info">
                    <div class="app-card-author mb-2">
                        <img src="https://picsum.photos/100?random=9" alt="author avatar">
                        <a href="/main/applications">Skylar</a>
                    </div>
                    <h4>Minecraft 1.18</h4>
                    <div class="app-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div class="d-flex flex-wrap mt-3">
                        <span class="app-card-tag">Game</span>
                        <span class="app-card-tag">Python</span>
                        <span class="app-card-tag">HTML</span>
                        <span class="app-card-tag">Fun</span>
                    </div>
                </div>
            </div> 
        </div>   
    </div>
</div>
