@import 'src/styles/global'

.content
  cursor: default

.container
  max-width: 990px
  margin: 0 auto

.user-profile-header
  display: flex
  justify-content: space-between
  padding: 5px 0px 20px 0px

.user-info
  display: flex
  justify-content: flex-start

.avatar
  margin-right: 15px

.bio
  margin-top: 10px
  font-size: $font-size-lg
  max-width: 700px
  word-wrap: anywhere

.btn
  align-self: flex-start

.name
  font-size: $h2-font-size
  word-wrap: anywhere

.username
  color: $muted-text-color

.switch-item
  color: $primary
  font-size: $h2-font-size
  opacity: 50%
  &:last-child
      margin-left: 25px

.switch-item:hover
  opacity: 100%

.searching-panel
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px

.repls-title, .repl-name
  font-size: $h2-font-size

.search
  max-width: 170px

.repls-list, .showcase
  border: 1px solid $secondary
  border-radius: 5px
  background: $background-panel-color

.repl-item, .repl-title
  display: flex
  align-items: center

.repl-item
  justify-content: space-between
  padding: 15px 25px 15px 15px

.repl-item:hover
  background-color: $secondary-hover
  cursor: pointer

.repl-icon
  height: 32px
  max-width: 32px
  margin-right: 8px

.change-date
  color: $muted-text-color

.manage
  text-align: center
  display: block
  margin-top: 35px
  color: $primary

.showcase
  height: 65vh
  width: 100%
  margin: 20px 0 20px 0

ngb-carousel
  height: inherit

.slide-header
  display: flex
  justify-content: space-between
  padding: 5px
  border-bottom: 1px solid $secondary

.right-header-part
  display: flex
  align-items: center

.show-files
  background-color: $secondary

.likes-quantity
  padding: 0 10px 0 10px

.like
  cursor: pointer

.chosen-repl
  display: flex
  justify-content: space-between
  margin-bottom: 10px

.settings
  cursor: pointer
  height: fit-content

.settings:hover
  background-color: $secondary
  border-radius: 100%

.repl-title
  cursor: pointer

@media (max-width: 1080px)
    .user-info
        flex-wrap: wrap
    .info
        word-wrap: anywhere
