<div class="content">
    <div class="projects-header">
        <div class="projects-header-title">
            <h1>My projects</h1>
            <button (click)="createProject()" class="btn btn-primary">Create new</button>
        </div>
        <div class="muted-text">
            <p></p>
        </div>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading" class="mt-4">
        <table class="table table-borderless table-dark table-hover">
            <tbody>
                <tr *ngFor="let project of projects">
                    <td class="min-width">
                        <i class="mx-3 fa {{project.isPublic ? 'fa-unlock text-success' : 'fa-lock text-danger'}}"></i>
                    </td>
                    <td><a class="text" routerLink="/main/myprojects/workspace">{{project.title}}</a></td>
                    <td>{{project.createdAt | date}}</td>
                    <td class="min-width">
                        <div ngbDropdown container="body" placement="left-top">
                            <button class="mx-3 btn btn-outline-secondary" id="optionsDropdown" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
                            <div ngbDropdownMenu aria-labelledby="optionsDropdown">
                              <button ngbDropdownItem>Settings</button>
                              <button ngbDropdownItem class="text-danger" (click)="deleteProject(project)">Delete</button>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <span *ngIf="!loading && !projects.length" class="alert alert-danger" role="alert">
            You don't have any projects. Create a new one!
        </span>
    </div>
</div>
